body {
	background-color: black;
	font-family: 'Courier New', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: white;
}

#main {
	margin-left: 10%;
	margin-right: 10%;
}

a:link {
	color:#FFFFFF;
}

a:visited {
	color:#FFFFFF;
}

a:hover {
	color:#00FF00;
}

a:active {
	color:#0000FF;
}

table {
  width: 100%;
  border: 1px solid #FFFFFF;
}

tr th, td {
	width: 33%;
	text-align: left;
	border: 1px solid #FFFFFF;
}
